# **Imports**

In [2]:
import requests
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt

import sqlite3
from io import BytesIO

# **Calling Data**

In [3]:
# Connecting to existing DB
conn = sqlite3.connect("data/waste_facilities.db")  

# Load the full facilities table
df = pd.read_sql("SELECT * FROM facilities", conn)

# **Filtering Data**

In [4]:
# Filtering based on facility type
landfill_type = "Inert or Construction and Demolition Landfills (U.S. EPA/OLEM (2020))"
construction_landfills_df = df[df["Facility Type (Source)"] == landfill_type]

## **Cleaning Data Frame**

In [5]:
# Keeping only essential columns
construction_landfills_df = construction_landfills_df[["Name", "Latitude", "Longitude", "Facility Type (Source)"]]
construction_landfills_df = construction_landfills_df.reset_index(drop=True)

In [6]:
construction_landfills_df

,Name,Latitude,Longitude,Facility Type (Source)
0,3M Company-Guin Industrial Landfill,33.966647,-87.899798,Inert or Construction and Demolition Landfills...
1,Alabama River Cellulose Landfill,31.571983,-87.492035,Inert or Construction and Demolition Landfills...
2,Andalusia Construction / Demolition Landfill,31.343962,-86.451054,Inert or Construction and Demolition Landfills...
3,Arab C / D Landfill,34.330408,-86.553401,Inert or Construction and Demolition Landfills...
4,Ash / Dregs Landfill,33.346955,-86.344192,Inert or Construction and Demolition Landfills...
...,...,...,...,...
1791,Demoliton Landfill Solutions LLC,46.666883,-92.116552,Inert or Construction and Demolition Landfills...
1792,Rolling Meadows Demo Landfill,44.863660,-90.797827,Inert or Construction and Demolition Landfills...
1793,TRI CITY SANITATION INC DEMO LF SITE #2 & #3,44.368407,-91.298517,Inert or Construction and Demolition Landfills...
1794,Greenbrier County Landfill,37.801356,-80.443133,Inert or Construction and Demolition Landfills...
1795,Raleigh County Landfill,37.818411,-81.169911,Inert or Construction and Demolition Landfills...

## **Saving to DataBase**

In [7]:
construction_landfills_df.to_sql("construction_landfills", conn, if_exists="replace", index=False)

1796

In [10]:
# Create a new column called 'Company'
construction_landfills_df["Company"] = construction_landfills_df["Name"].apply(
    lambda name: "Waste Management Inc." if name.strip().startswith("Waste Management-") else "Other"
)

In [12]:
# Create a new DataFrame with company info
tagged_constrution_df = construction_landfills_df.copy()

# Add company tag based on naming rule
tagged_constrution_df["Company"] = tagged_constrution_df["Name"].apply(
    lambda name: "Waste Management Inc." if name.strip().startswith("Waste Management-") else "Other"
)

In [13]:
tagged_constrution_df

,Name,Latitude,Longitude,Facility Type (Source),Company
0,3M Company-Guin Industrial Landfill,33.966647,-87.899798,Inert or Construction and Demolition Landfills...,Other
1,Alabama River Cellulose Landfill,31.571983,-87.492035,Inert or Construction and Demolition Landfills...,Other
2,Andalusia Construction / Demolition Landfill,31.343962,-86.451054,Inert or Construction and Demolition Landfills...,Other
3,Arab C / D Landfill,34.330408,-86.553401,Inert or Construction and Demolition Landfills...,Other
4,Ash / Dregs Landfill,33.346955,-86.344192,Inert or Construction and Demolition Landfills...,Other
...,...,...,...,...,...
1791,Demoliton Landfill Solutions LLC,46.666883,-92.116552,Inert or Construction and Demolition Landfills...,Other
1792,Rolling Meadows Demo Landfill,44.863660,-90.797827,Inert or Construction and Demolition Landfills...,Other
1793,TRI CITY SANITATION INC DEMO LF SITE #2 & #3,44.368407,-91.298517,Inert or Construction and Demolition Landfills...,Other
1794,Greenbrier County Landfill,37.801356,-80.443133,Inert or Construction and Demolition Landfills...,Other
1795,Raleigh County Landfill,37.818411,-81.169911,Inert or Construction and Demolition Landfills...,Other